{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href={% static 'css/materialize.css' %} type="text/css" rel="stylesheet" media="screen,projection"/>
    <style>
     @font-face
     { font-family: R; src: url({% static 'fonts/Roboto/Roboto-Regular.ttf' %}); }

    </style>
    <title></title>
  </head>
  <body id='body' style="font-family:R">
    <!-- Navbar goes here -->
    <nav>
      <div id='nav' style="background:#17365D" class="nav-wrapper">
        <a href="#" class="brand-logo center">IoT Data Platform</a>
      </div>
    </nav>

    <!-- Page Layout here -->
    <div class="row">
      <div id='col1' class="col s3" style="background:#336699;">
        <a href="/iotdp/{{ user }}">
          <div class="col s12 m12 l12" style="color:white;display:flex; justify-content:center; align-items:center; width:100%; height:10vh; font-size:150%; margin:0px;; padding:0px">
            OVERALL VIEW
          </div>
        </a>
        <a href="/iotdp/{{ user }}/graph">
          <div class="col s12 m12 l12" style="color:#17365D;display:flex; justify-content:center; align-items:center; width:100%; height:10vh; font-size:150%; margin:0px; padding:0px;  background:#F1BA65">
            GRAPH
          </div>
        </a>
        <a href="/iotdp/{{ user }}/logs">
          <div class="col s12 m12 l12" style="color:white;display:flex; justify-content:center; align-items:center; width:100%; height:10vh; font-size:150%; margin:0px;; padding:0px">
            LOGS
          </div>
        </a>
      </div>

      <div id='col2' class="col s9" style="background: #EBEBD3;">
        <h4 class="center">POWER CONSUMPTION IN THE LAST 30 MINUTES</h4>
        <canvas id="chart1" class="" style="width:100%;"></canvas>
        <div class="row">
          <div class="col m8 offset-m2">
            <div class="card center" style="background: #EBEBD3;">
              <h5>Generated Power from Solar and other Sources: {{ gen_pow }} kW</h5>
            </div>
          </div>
          <div class="col m8 offset-m2">
            <div class="card center" style="background: #EBEBD3;">
              <table>
                <tr>
                  <th>Small Appliances</th>
                  <td>Microwave, Dishwasher, Fridge</td>
                </tr>
                <tr>
                  <th>Big Appliances</th>
                  <td>Garage Door, Well, Barn, Furnaces</td>
                </tr>
                <tr>
                  <th>Rooms</th>
                  <td>Home Office, Wine Cellar, Living Room, Kitchens</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>

    <script src={% static 'js/jquery-3.1.1.js' %}></script>
    <script src={% static 'js/materialize.min.js' %}></script>
    <script src={% static 'js/chart.min.js' %}></script>
    <script type="text/javascript">
      navHeight = $('#nav').height();
      columnHeight = (window.innerHeight - navHeight);
      $('#col1').height(columnHeight);
      $('#col2').height(columnHeight);
    </script>
    <script type="text/javascript">
      var ctx3 = document.getElementById("chart1");
      var myChart = new Chart(ctx3, {
          type: 'bar',
          data: {
              labels: {% autoescape off %} {{ graph_labels }} {% endautoescape %},
              datasets: [{
                  label: 'Number of Units [kW]',
                  data: {% autoescape off %} {{ graph_data }} {% endautoescape %},
                  backgroundColor: [
                      '#FDB44B',
                      '#FDB44B',
                      '#FDB44B'
                  ],
                  borderColor: [
                      '#FDB44B',
                      '#FDB44B',
                      '#FDB44B'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              legend: {
                  labels: {
                      fontColor:"black"
                  }
              },
              scales: {
                xAxes: [{
                    ticks: {
                        fontColor:"black"
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        fontColor:"black"
                    }
                }]
              }
          }
      });
    </script>
  </body>
</html>
