{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href={% static 'css/materialize.css' %} type="text/css" rel="stylesheet" media="screen,projection"/>
    <style>
     @font-face
     { font-family: R; src: url({% static 'fonts/Roboto/Roboto-Regular.ttf' %}); }

    </style>
    <script src="{% static 'js/terminal.js' %}"></script>
    <script type="text/javascript">

    </script>
    <title></title>
  </head>
  <body id='body' style="font-family:R">
    <!-- Navbar goes here -->
    <nav>
      <div id='nav' style="background:#17365D" class="nav-wrapper">
        <a href="#" class="brand-logo center">IoT Data Platform - Logs</a>
      </div>
    </nav>

    <div class="row">
      <div id='col1' class="col s3" style="background:#336699;">
        <a href="/iotdp/{{ user }}">
          <div class="col s12 m12 l12" style="color:white;display:flex; justify-content:center; align-items:center; width:100%; height:10vh; font-size:150%; margin:0px;; padding:0px">
            OVERALL VIEW
          </div>
        </a>
        <a href="/iotdp/{{ user }}/graph">
          <div class="col s12 m12 l12" style="color:white;display:flex; justify-content:center; align-items:center; width:100%; height:10vh; font-size:150%; margin:0px; padding:0px;">
            GRAPH
          </div>
        </a>
        <a href="/iotdp/{{ user }}/logs">
          <div class="col s12 m12 l12" style="color:#17365D;display:flex; justify-content:center; align-items:center; width:100%; height:10vh; font-size:150%; margin:0px; padding:0px;  background:#F1BA65">
            LOGS
          </div>
        </a>
      </div>

      <div id='col2' class="col s9 black" style="height:750px;background: #EBEBD3; margin:0px; padding:0px; overflow-y:scroll">
        <div id='term' class="row" style="height:750px;display:flex; margin:0px; padding:0px; overflow-y:scroll;">

        </div>
      </div>

    <!-- Page Layout here -->


    <script src={% static 'js/jquery-3.1.1.js' %}></script>
    <script src={% static 'js/materialize.min.js' %}></script>
    <script src={% static 'js/chart.min.js' %}></script>
    <script type="text/javascript">
      navHeight = $('#nav').height();
      columnHeight = (window.innerHeight - navHeight);
      $('#col1').height(columnHeight);
    </script>
    <script type="text/javascript">
      var term = new Terminal();
      var logs = {% autoescape off %} {{ logs }} {% endautoescape %}
      var logLines = logs.split(';;;')
      for(var i=0; i<logLines.length; i++)
      {
          term.print(logLines[i]);
      }
      $('#term').append(term.html)
    </script>
  </body>
</html>
